	* {
	  padding: 0;
	  margin: 0;
	  box-sizing: border-box;
	}
	html {
	  height: 100%;
	}
	.heroImage {
	  float: right;
	  width: 100%;
	  border-bottom-left-radius: 15px;
	  border-bottom-right-radius: 25px;
	  -webkit-box-shadow: 1px 1px 20px 5px #037F9E;
	  box-shadow: 1px 1px 20px 5px #037F9E;
	}
	.body {
	  font-size: 1rem;
	  line-height: 1.6;
	  font-family: "Roboto Medium", Roboto;
	  color: #065D70;
	  min-height: 100%;
	  display: flex;
	  flex-direction: column;
	  background-color: #EDDECE;
	}
	.header {}
	.fotter {
	  padding: 20px;
	  margin-top: auto;
	  min-height: 50px;
	  background-color: #ABC3B1;
	}
	.main {
	  margin: 0px auto;
	  height: auto;
		width: 95%;
		max-width: 800px;
	}
	.container {
	  margin: 10px auto;
	  height: auto;
	}
	.text {
	  width: 100%;
	  padding-top: 10px;
	  padding-bottom: 10px;
	  text-align: justify;
	  font-weight: lighter;
	  line-height: 32px;
	  float: left;
	  color: #57827B;
		list-style: inside;
	}
	.comfort {
	  margin-top: 40px;
	  margin-bottom: 40px;
	}

.comfort2 {
	  margin-top: 120px;
	  margin-bottom: 120px;
	}

.center{
	margin-top: 80px;
	  margin-bottom: 80px;
		text-align: center;
}

.btn{
	color: #004454 !important;
	font-size: 1.35rem !important;
	border-radius: 15px;
	padding: ;
	background-color: #39B38C;
	transition-property: background;
	transition-duration: 0.3s;
	transition-timing-function: ease;
	transition-delay: 0;
	border: 3px solid #004454;
	padding-top: 15px;
	padding-right: 30px;
	padding-bottom: 15px;
	padding-left: 30px;
}


.btn:hover {
	background-color: #306EF0;
		color: #EDDECE !important;
		border: 3px solid #306EF0;


}

.line{
	
	margin-top: 10px;
	margin-bottom: 10px;
  border: 1px solid #ABC3B1;	
}